version: "3.9"

services:
  db:
    image: postgres:16
    container_name: proyecyo_bd2_db
    restart: always
    environment:
      POSTGRES_DB: proyecyo_bd2
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./docker/db_data:/var/lib/postgresql/data
